<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'translate' %}">
        {% csrf_token %}
        <input type="text" name="text" placeholder="Enter the text to translate">
        <select name="text_language" id="text_language">
            <option value="en">English</option>
            <option value="hi">Hindi</option>
            <option value="fr">French</option>
            <option value="es">Spanish</option>
            <option value="de">German</option>
            <option value="it">Italian</option>
            <option value="pt">Portuguese</option>
            <option value="ru">Russian</option>
        </select>
        <select name="translated_language" id="translated_language">
            <option value="en">English</option>
            <option value="hi">Hindi</option>
            <option value="fr">French</option>
            <option value="es">Spanish</option>
            <option value="de">German</option>
            <option value="it">Italian</option>
            <option value="pt">Portuguese</option>
            <option value="ru">Russian</option>
        </select>
        <input type="submit" value="Translate">
    </form>
    
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    
    {% if translatedText %}
        <h1>Translated Text:</h1>
        <p>{{ translatedText }}</p>
    {% endif %}
</body>
</html>